{% extends 'base.html' %}
{% block content %}

<div class="row">
   <div class="col-lg-12">
      <div class="card">
         <div class="card-header">
            <h5 class="card-title">View Attendance</h5>
         </div>
         <div class="card-body">

         {% if action is None %}

            <form method="post" action="?action=view_attendance">
               {% csrf_token %}
               <div class="form-group row">
                  <label class="col-form-label col-md-2">Select Subject</label>
                  <div class="col-md-4">
                     <select class="form-control form-control-lg select" name="subject_id" required>
                        <option>Select Subject</option>
                        {% for i in subjects %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary">View Attendance</button>
               </div>
            </form>

            {% else %}

            <div class="form-group row">
               <label class="col-form-label col-md-2">Select Subject</label>
               <div class="col-md-4">
                  <select class="form-control form-control-lg select" name="subject_id" disabled>
                     <option value="{{i.id}}">{{get_subject}}</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="card card-table comman-shadow">
                     <div class="card-body">
                        <div class="page-header">
                           <h3 class="page-title">Present Days List</h3>
                        </div>
                        <div class="table-responsive">
                           <table id="table_id" class="table border-0 star-student table-hover table-center mb-0 table-striped">
                              <thead class="student-thread">
                                 <tr>
                                    <th>Date</th>
                                    <th>Subject Name</th>
                                    <th>Academic Year</th>
                                 </tr>
                              </thead>
                              <tbody>

                              {% for i in attendance_report %}
                              <tr>
                                 <td>{{i.attendance_id.attendance_date}}</td>
                                 <td>{{i.attendance_id.subject_id.name}}</td>
                                 <td>{{i.attendance_id.academic_year_id.academic_start}} to {{i.attendance_id.academic_year_id.academic_end}}</td>
                              </tr>
                              {% endfor %}

                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            {% endif %}
         </div>
      </div>
   </div>
</div>

{% endblock %}